# This workflow runs on workflow_run event
#
name: Checks Completed

# Controls when the action will run.
on:
  workflow_run:
    workflows: [Checks]
    types: [completed]
    branches: [main, next, beta, alpha]

concurrency:
  group: ${{ github.workflow }}_${{ github.event.workflow_run.head_branch || github.ref_name || github.run_id }}
  cancel-in-progress: true

# Declare default permissions as read only.
permissions:
  contents: read

jobs:
  release:
    name: '▶️ actions'
    uses: ./.github/workflows/release.yml
    secrets:
      RELEASE_APP_ID: ${{ secrets.RELEASE_APP_ID }}
      RELEASE_APP_PRIVATE_KEY: ${{ secrets.RELEASE_APP_PRIVATE_KEY }}

    permissions:
      contents: write
      packages: write
